.nav-img {
    height:40px;
    width: auto;
    margin-right: 15px;
}

li {
    list-style-type: none
}

.banner-img {
    max-width: 100%;
    height: auto;
}

.banner-card {
    display: flex;
    position: relative;
    bottom: 55%;
    left: 10%;
}

.best-seller {
    position: relative;
    bottom: 75px;
}

.footer {
    background-color: #beb3a1;
}

#footer-image {
    width: 280px;
    height: auto;
}

.center-image {
    display: block;
    margin: auto;
}

.left-col {
    position: relative;
    top: 5rem;
}

.height-limit {
    height: 650px;
}

.spotlight-card {
    max-width: 75%;
}

.card-description {
    font-size: 18px;
}

a {
    text-decoration: none;
    color: black;
}