<!-- Footer -->

<div class="row footer mt-5 pt-4 pb-4 d-flex flex-row justify-content-around">
    <div class="col12 col-ms-6 col-md-3 d-flex flex-row align-items-center justify-content-center">
        <img src="https://res.cloudinary.com/dbqwjxuhv/image/upload/v1621029241/snip_qaobvi.png" alt="A Map" id="footer-image">
    </div>
    <div class="col12 col-ms-6 col-md-3">
        <div class="card" style="width: 18rem;">
            <div class="card-header">
              Visit Us!
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Portland, ME USA</li>
              <li class="list-group-item">shopping@thyme.com</li>
              <li class="list-group-item">Call US: (207)560-288</li>
            </ul>
          </div>
    </div>
    <div class="col12 col-ms-6 col-md-3">
        <div class="card" style="width: 18rem;">
            <div class="card-header">
                You can find our herbs at...
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Joey's Grocery</li>
              <li class="list-group-item">The Deli on Main</li>
              <li class="list-group-item">Cherie's Bistro</li>
            </ul>
          </div>
    </div>
    <div class="col12 col-ms-6 col-md-3">
        <div class="card" style="width: 18rem;">
            <div class="card-header">
              Follow Us!
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Facebook</li>
              <li class="list-group-item">Twitter</li>
              <li class="list-group-item">Instagram</li>
            </ul>
          </div>
    </div>
</div>