{% extends 'base.html' %}

{% block content %}

<div class="row my-5">
    <div class="col-12 col-sm-6 d-flex justify-content-end">
        <!-- Image -->
        <img src="{{ prod.image }}">
    </div>
    <div class="col-12 col-sm-6 d-flex justify-content-start">
        <!-- Descr -->
        <div class="card spotlight-card">
            <h2 class="card-header">{{ prod.name }}</h2>
            <div class="card-body">
              <p class="card-text card-description">{{ prod.description }} <br><br>Founded in 1957, Shopping Thyme is a purveyor of the finest spices, herbs, blends, and extracts to customers ranging from renowned Michelin-star chefs to home cooks everywhere. We’ve spent over 60 years curating our global network of premium growers and distributors in order to offer our customers unrivaled quality and selection. Our products range from essential and rare spice varietals to proprietary rubs and blends.</p>
              <a href="{{ url_for('shop.add_to_cart', product_sku = prod.sku) }}" class="btn btn-outline-primary">${{ prod.amount }}</a>
            </div>
          </div>
    </div>
</div>

<div class="row mb-3">
    <div class="col-12">
        <h3 class="text-center">Other Products You Might Like</h3>
    </div>
</div>

<hr>

<div class="row my-5">
    <div class="col-12 d-flex flex-row justify-content-around mb-3">
      {% for ele in top_4 %}
        <div class="card" style="width: 18rem;">
            <a href="{{ url_for('shop.product_detail', product_sku = ele.sku)}}"><img src="{{ ele.image }}" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <a href="{{ url_for('shop.product_detail', product_sku = ele.sku)}}"><h5 class="card-title">{{ ele.name }}</h5></a>
              <p class="card-text">{{ ele.description }}</p>
              <a href="{{ url_for('shop.add_to_cart', product_sku = ele.sku) }}" class="btn btn-outline-primary">${{ ele.amount }}</a>
            </div>
          </div>
          {% endfor %}
    </div>
</div>


{% endblock content %}